body{
  background: #02010a;
}
img{
  box-shadow: 2px 2px 2px #02010a;
}
#cabecera{
  background: #5b7989;
  font-family: 'Dancing Script', cursive;
  color: white;
  border-radius: 10px 10px 0px 0px;
  text-shadow: 2px 2px 2px #02010a;

}
#cabecera h1{
margin: 30px;
font-size: 40px;
}
.contenedor{
  display:flex;
	flex-direction:row;
}
#cabecera .contenedor > div{
	width:50%;
}
.link a{
  margin: 35px 30px;
  float: right;
  font-size:25px;
  color: white;
}
#imagen-central{
  background: #82c3a6;
  padding:2%;
}
#imagen-central img{
  display: block;
  margin: auto;
  width: 80%;
}
#secundaria{
  background: #d5c75f;
  display:flex;
  flex-direction:row;
}
#secundaria > div{
  padding: 2%;
  width: 50%;
}
#secundaria img{
  width: 350px;
  height: 350px;
  display: block;
  margin: auto;
}
#secundaria p{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}
#secundaria a{
  margin:20px;
  color: black;
}
#pie{
  background: #C6d5c5;
  display:flex;
  flex-direction:row;
  border-radius: 0px 0px 10px 10px;
}
#pie > div{
  width:25%;
}
#pie h1{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  padding: 2%;
  margin: 10px;
}
#pie p{
  font-family:'Dancing Script', cursive;
  font-size: 20px;
  padding: 2%;
  margin:10px;
}
#pie .sociales a{
  text-decoration:none;
  color: black;
}
.imagen1 img:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px solid;
}
.imagen2 img:hover{
  transform: translate(20px,-5px);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px solid;
}
