body{
  background: black;
}
#contenido{
  border-radius: 10px;
  border: 1px solid white;
  background: #5b7989;
}
#cabecera{
  font-family: 'Dancing Script', cursive;
  text-align: left;
  color: white;

}
#cabecera h1{
  margin-left: 5px;
    font-size: 30px;
    text-shadow: 2px 2px 2px #02010a;
}
.contenedor{
  display:flex;
	flex-direction:row;
}
#cabecera .contenedor > div{
	padding:5px;
	margin:5px;
	width:50%;
}
.link a{
  margin: 20px 5px;
  float: right;
  font-size:25px;
  color: white;
}
#imagen-central{
  background: #82c3a6;
  padding:2%;
}
#imagen-central img{
  display: block;
  margin: auto;
  width: 80%;

}
